:root {
    --nav-width: 300px;
}

.workspace-layout {
    background-color: white;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 9fr;
    grid-template-areas:
        'nav main'
        'nav main'
        'footer footer';

    & main {
        grid-area: main;
        min-height: 95vh;
    }

    & footer {
        grid-area: footer;
    }

    & header {
        grid-area: nav;
    }

    @media (max-width: 578px) {
        & {
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr auto;
            grid-template-areas:
                'nav'
                'main'
                'footer';
            gap: 6rem;
        }
    }

    & nav {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        background: white;
        width: 90px;
        overflow: hidden;
        transition: width 0.2s linear;
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
        border-right: solid rgb(241, 237, 237);
    }
    & .logo {
        text-align: center;
        display: flex;
        transition: all 0.5s ease;
        margin: 10px 0 0 10px;
    }
    & .logo img {
        width: 45px;
        height: 45px;
    }

    & .logo {
        font-size: 2rem;
    }

    .logo-sm img {
        width: 40px;
        height: 40px;
    }
    .logo span {
        font-weight: bold;
        padding-left: 15px;
        font-size: 18px;
        text-transform: uppercase;
    }
    a {
        position: relative;
        color: #430071;
        font-size: 14px;
        display: table;
        width: 300px;
        padding: 10px;
    }
    .fas {
        position: relative;
        width: 70px;
        height: 40px;
        top: 14px;
        font-size: 20px;
        text-align: center;
    }
    .nav-item {
        position: relative;
        top: 12px;
        margin-left: 10px;
        font-weight: 900;
    }
    .nav-item:first {
        font-size: 30px;
    }

    .text-normal-case {
        text-transform: none !important;
    }

    #a-1:hover {
        background: #430071;
        color: white;
    }


    @media (min-width: 768px) {
        nav.open {
            --max-width: 300px;
            width: 300px;
            transition: all 0.5s ease;
        }
    }

    .open {
        width: var(--max-width, 100%);
    }

    .logout {
        position: absolute;
        bottom: 0;
    }

    

    .lateral-bar {
        position: relative;
    }
}

.lateral-bar {
    max-width: 1.2rem;
}

@media (max-width: 768px) {
  .workspace-layout footer {
    margin-top: 18rem !important;
  }
}

@media (max-width: 576px) {
  .workspace-layout nav {
      width: 0;
      transition: all 300ms infinite;
  }
  .workspace-layout nav.open {
      --max-width: 100%;
      display: block;
      color: transparent;
  }

  .workspace-layout nav * {
      scale: 100%;
  }
}

@media (max-width: 578px) {
  .lateral-bar {
    position: absolute;
    max-height: 0;
  }
}