:root {
    border-radius: 2rem;
}

body {
    overflow-x: hidden;
}

.colored-item {
    --color: var(--clr-accent-400);
    --bg-color: var(--clr-accent-200);
    font-weight: bold;
    font-size: var(--fnt-size-500);
    color: var(--color);
    border-radius: 8px;
    padding: 5px;
    aspect-ratio: 1 / 1;
    background-color: var(--bg-color);
}

.color-green {
    --color: var(--clr-green-400);
    --bg-color: var(--clr-green-100)
}

.color-yellow {
    --color: var(--clr-yellow-600);
    --bg-color: var(--clr-yellow-100);
}

.color-blue {
    --color: var(--clr-blue-400);
    --bg-color: var(--clr-blue-100);
}

.color-red {
    --color: var(--clr-red-600);
    --bg-color: var(--clr-red-200);
}

.text-blue {
    color: var(--clr-blue-400);
}

.text-green {
    color: var(--clr-green-400);
}

.text-red {
    color: var(--clr-red-600);
}

.text-brand {
    color: var(--clr-accent-400);
}

.report-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: var(--border-radius);
    border: .1rem solid var(--clr-secondary-400);
    padding: 0.5rem;
}

.report-table td,
.report-table th {
    padding-block: min(2rem, 10px);
}

.chart-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'events readings'
        'report report';
    gap: 1.2rem;
    width: 100%;
}

.event-report {
    grid-area: events;
    padding: 1.8rem;
    min-height: 300px;
    border-radius: var(--border-radius);
}

.reading-report {
    grid-area: readings;
    padding: 1.8rem;
    min-height: 300px;
    border-radius: var(--border-radius);
}

.general-report {
    grid-area: report;
    width: 100%;
}

@media (max-width: 578px) {
    .chart-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            'events'
            'readings'
            'report';
    }

    .event-report {
        display: flex;
        place-items: center;
        padding-inline: 0.3rem;
        height: min-content;
        width: 100%;
    }

    .reading-report {
        display: flex;
        place-items: center;
        padding-inline: 0.3rem;
        height: min-content;
        width: 100%;
    }
}
