/*Titulo*/
.px-3 {
  padding: 30px;
}
h1 {
  text-align: center;
}

.header-font {
  padding: 60px 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 65px;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .header-font {
    font-size: 48px;
  }
}

.image-main {
  width: 600px;
}

.main-content {
  width: 100%;
}
.main-1 {
  width: 200px;
}

.max-w-50 {
  max-width: 50%;
}

.article-title {
  font-size: 45px;
}

.m-large {
  padding: 0 !important;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  margin-inline: 3rem;
}

@media (min-width: 1200px) {
  .w-xl-50 {
    width: 45% !important;
  }
}

b {
  color: var(--clr-accent-400);
}

.cta-button {
  position: relative;
  padding: 15px 22px;
  background-color: var(--clr-accent-400);
  border-radius: var(--border-radius);
  margin: 1.5rem;
  color: white;
  border: none;
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
  transform: 0.2 ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.cta-button:active {
  transform: scale(0.96);
}

.arrow-animation {
  animation: move-right 2s linear infinite;
  display: inline-block;
}

@keyframes move-right {
  0% {
    translate: 0rem 0px;
  }
  25% {
    translate: 0.45rem 0px;
  }
  50% {
    translate: 0.9rem 0px;
  }
  75% {
    translate: 0.45rem 0px;
  }
  100% {
    translate: 0rem 0px;
  }
}

@media (min-width: 768px) {
  .m-large {
    margin-top: 8rem;
    margin-bottom: 12rem;
    margin-inline: 5rem;
  }

}

.h-full-height {
  height: 100vh;
}
