

.bg-primary-brand {
    background: var(--clr-accent-400);
    color: var(--clr-secondary-200);
}

.bg-primary-brand:is(:hover, :focus) {
    background: var(--clr-accent-800);
    text-decoration: none;
    color: var(--clr-secondary-200);
}

.timer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
}

.timer-container section {
    font-size: 3rem;
    min-height: 320px;
    min-width: 250px;
    max-height: 300px;
    max-width: 350px;
    border-radius: 2rem;
}

.rounded-timer {
    border: 1.7rem solid var(--clr-accent-800);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.timer svg {
    width: 200px;
}

.stroke-green {
    stroke: var(--clr-green-400);
}

.stroke-blue {
    stroke: var(--clr-blue-400);
}

.timer path {
    stroke-dasharray: 1238;
    stroke-width: 3;
    stroke-linecap: round;
    animation: decrease 2s ease infinite;
}

.bg-circle {
    stroke: var(--clr-secondary-400) !important;
}
 
