.action-btn.hover-brand:hover {
    background-color: var(--clr-accent-800);
}

.action-btn.hover-brand:hover i {
    color: var(--clr-secondary-200);
}

.action-btn.hover-accent:hover {
    background-color: var(--clr-accent-400);
}

.action-btn.hover-outline:hover i {
    color: var(--clr-secondary-200);
}