.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    max-width: 600px;
    margin: 25px auto
}

.boardLevel3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 7px;
    max-width: 600px;
    margin: 25px auto
}

.boardLevel5 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    max-width: 600px;
    margin: 25px auto
}