.users-container {
  min-height: 85vh;
  display: flex;
}

.user {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-list {
  min-height: 100%;
  width: 30vw;
}

@media (max-width: 768px) {
  .user {
    width: 100vw;
  }
  .user-list {
    width: 100%;
    
  }
}
